<br>
<h3>All coasters on the site:</h3>
<p>Sort</p>
<input id='search' type='text'>
<br>
<ul>
{{#each list}}
    <li>{{this.name}}</li>
    <ul>
        <li>Year opened: {{this.opened}}</li>
        <li>Height (ft.): {{this.height}}</li>
        <li>Top speed (mph): {{this.maxspeed}}</li>
        <li>Number of inversions: {{this.inversions}}</li>
        <li>Ride length (ft.): {{this.length}}</li>
        <li>Ride capacity (guests/hour): {{this.capacity}}</li>
        <li>This ride was manufactured by {{this.manufac}}.</li>
    </ul>
    <br>
    <hr>
    <h3 style="display: inline">Reviews</h3>
    <button style="display: inline; float: right">Add a review for {{this.name}}</button>
    {{#each this.reviews as |obj|}}
        {{#each obj as |post user|}}
            <p>{{post}}</p>
            <br>
            <p>- {{user}}</p>
        {{/each}}
        <hr>
    {{/each}}
{{/each}}
</ul>