<br>
<h3>All coasters on the site</h3>
<p>Sort</p>
<input id='search' type='text'>
<a href="/add" class="btn btn-success">Click here to add a coaster to the site!</a>
<br>

<p id="nomatch"></p>
{{#each list}}
<div id='{{this.name}}' class="entry">
    <h4>{{this.name}}</h4>
    <ul>
        <li>Year opened: {{this.opened}}</li>
        <li>Height (ft.): {{this.height}}</li>
        <li>Top speed (mph): {{this.maxspeed}}</li>
        <li>Number of inversions: {{this.inversions}}</li>
        <li>Ride length (ft.): {{this.length}}</li>
        <li>Ride capacity (guests/hour): {{this.capacity}}</li>
        <li>This ride was manufactured by {{this.manufac}}.</li>
    </ul>
    <br>
    <hr>
    <h3 style="display: inline">Reviews</h3>
    <button onclick="location.href='/add-review/{{this.name}}';" style="display: inline; float: right">Add a review for {{this.name}}</button>
    {{#each this.reviews as |obj|}}
        {{#each obj as |post user|}}
            <p>{{post}}</p>
            <br>
            <p>- {{user}}</p>
        {{/each}}
        <hr>
    {{/each}}
</div>
{{/each}}
<script>
    $(document).ready(function(){
        $('#nomatch').hide();
    });

    $('#search').on('input', function(e){
      var input = $(e.target).val().toLowerCase();
      $('#nomatch').hide();

      if(input === '') {
        $('.entry').show();
      } else {
        $('.entry').hide();
        $('.entry').each(function(){
            var coasterName = $(this).attr('id').toLowerCase();
            var re = new RegExp("^"+input,"g");
            if (coasterName.match(re)) {
                $(this).show();
            } else {
                $('#nomatch').text('No coasters exist with the name \"'+input+'\"');
                $('#nomatch').show();
            }
        });
      }
    });
</script>
